<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TagMyDrive.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <TagMyDrive.Properties.Settings>
            <setting name="txtRoot" serializeAs="String">
                <value/>
            </setting>
            <setting name="chkHidden" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chkSystem" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chkLinkFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="txtLinkRoot" serializeAs="String">
                <value/>
            </setting>
            <setting name="chkOpenOutput" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowLeft" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="WindowTop" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="txtTitle" serializeAs="String">
                <value/>
            </setting>
        </TagMyDrive.Properties.Settings>
    </userSettings>
	<System.Windows.Forms.ApplicationConfigurationSection>
		<add key="DpiAwareness" value="PerMonitorV2" />
	</System.Windows.Forms.ApplicationConfigurationSection>
    <connectionStrings>
        <!-- Set via TAGMYDRIVE_DB_CONNECTION env var, or fill in directly -->
        <add name="TagMyDriveDb"
             connectionString="" />
    </connectionStrings>
    <appSettings>
        <!--
            GOOGLE DRIVE SETUP (required for auto-upload):
            1. Go to https://console.cloud.google.com
            2. Create a project (or select existing)
            3. Enable "Google Drive API"
            4. Go to Credentials > Create Credentials > OAuth client ID
            5. Application type: "Desktop app"
            6. Copy the Client ID and Client Secret below
            7. Add your Google account as test user in OAuth consent screen
        -->
        <add key="GoogleDriveClientId" value="" />
        <add key="GoogleDriveClientSecret" value="" />
        <add key="GoogleDriveRedirectUri" value="http://localhost:8080/authorize" />
        <!--
            USDT BEP20 CRYPTO PAYMENTS (automatic verification via BSCScan):
            1. Set CryptoWalletUSDT to your BEP20 wallet address
            2. Get a free API key at https://bscscan.com/myapikey
            3. Set BSCScanApiKey to your key
            Payments are verified automatically - no admin intervention needed.
        -->
        <add key="CryptoWalletUSDT" value="" />
        <add key="BSCScanApiKey" value="" />
        <add key="CryptoPaymentEnabled" value="true" />
    </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
